<div class="fixed inset-0 top-4 left-4 w-full z-50" id="formPopup">
  <div class="bg-white p-4 rounded-lg shadow-lg w-11/12 max-w-lg">
    <div class="flex justify-between items-center mb-4">
        <h2 class="text-md font-semibold mb-4">
            Logs
        </h2>
        <div class="ml-auto top-4 right-4">
            <button id="closeLogs" class="px-4 py-2 text-gray-600 border border-gray-300 rounded hover:bg-gray-200">
                &times;
            </button>
        </div>
    </div>
    <div id="logs" class="flex flex-col p-2 max-h-[250px] overflow-y-auto border border-gray-300 rounded">
    </div>
  </div>
</div>
