<div class="absolute bottom-4 right-4">
    <button
        id="viewLogs"
        type="submit"
        class="px-4 py-2 border border-gray-300 rounded hover:bg-gray-200"
    >
    🗈
    </button>
</div>
