<div
  class="flex h-full w-full"
  hx-ext="ws"
  ws-connect="/projects">
    {{> projects/sidebar/sidebar }}
    <main class="flex-1 flex flex-col h-full w-full bg-white overflow-y-scroll">
        {{> header}}
        {{> projects/projects }}
    </main>
    <section id="popupContainer">
      {{> projects/popupForm }}
    </section>
    <section id="logContainer" class="hidden">
      {{> logPopup }}
    </section>
</div>
