<div id="instructions" class="flex w-full max-w-2/3 flex-col">
    <section class="flex w-full flex-col items-center justify-center">
        <p class="mt-4 text-xl">
          {{instructions}}
        </p>
    </section>
</div>