<div hx-swap-oob="innerHTML:#popupContainer">
{{#if show}}
<div class="fixed inset-0 w-full bg-gray-950/60 flex justify-center items-center z-50" id="formPopup">
  <div class="bg-white p-4 rounded-lg shadow-lg w-11/12 max-w-xl">
    <h2 class="text-md font-semibold mb-4">
        {{label}}
    </h2>
    <form ws-send hx-disabled-elt="this" class="flex flex-col">
      <input type="hidden" name="cmd" value="{{cmd}}">
      {{#if id}}
      <input type="hidden" name="id" value="{{id}}">
      {{/if}}
      <textarea name="content" rows="10" placeholder="Enter your content here..." class="w-full min-h-[150px] mb-4 p-2 border border-gray-300 rounded resize-y">{{content}}</textarea>
      <div class="flex justify-end gap-2">
        <button type="submit" name="action" value="apply_all" class="py-2 px-4 bg-gray-500 text-white rounded">Apply All</button>
        {{#if id}}
        <button type="submit" name="action" value="apply" class="py-2 px-4 bg-gray-500 text-white rounded">Apply</button>
        {{/if}}
        <button type="submit" name="action" value="cancel" class="py-2 px-4 bg-gray-100 border border-gray-300 rounded">Cancel</button>
      </div>
    </form>
  </div>
</div>
{{/if}}
</div>
