<section class="flex h-full w-full flex-col bg-inherit px-4 pt-8">
    <div id="instructions" class="flex w-full max-w-2/3 flex-col">
        <section class="flex w-full flex-col items-center justify-center">
            <p class="mt-4 text-xl">
              {{instructions}}
            </p>
        </section>
    </div>
    <div id="content-body" class="mt-3 flex w-full max-w-2/3 items-center justify-center rounded-t-lg bg-transparent pb-4">
    </div>
</section>
