<section
  hx-swap-oob="outerHTML:#messages"
  id="messages"
  class="flex w-full flex-grow flex-col items-center justify-center"
>
  {{#if placeholder}}
    <p id="placeholder" class="mt-4 text-xl">
      Start by asking me to find pages for a URL, then you can either download those pages or chat with me about them.
    </p>
  {{/if}}
</section>